# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# NestJS
dist

# Environment & Secrets
.env
.env.*
!.env.example
secrets/
*.pem
*.key
*.cert
*.pfx

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# Editor
.vscode
.idea
.turbo

# Release archives
*.zip
release_stage/

# Uploads & temporary runtime files
public/uploads/*
!public/uploads/.gitkeep
data/*.tmp.*

